@use 'layout';

:root {
	--font-heading: "Playfair Display";
	--font-body: "Raleway";
	--color-main: #92D7DA;
	--color-main-dark: #489094;
	--color-accent: #FA96C0;
	--color-accent-dark: #B34F78;
}

.projects {
	&__list-item-icon {
		i {
			font-size: initial;
		}
	}
}

.skills,
.experience {
	&__list-item {
		margin: 0;
		text-align: left;
	}
}

.skills {
	&__list {
		font-weight: var(--font-bold);
		text-align: left;
	
		@media (min-width: layout.$media-tablet) {
			display: grid;
			gap: 0 var(--space-xsuper);
			grid-auto-flow: column;
			grid-template-rows: repeat(12, 1fr);
		}
	
		@media (min-width: layout.$media-desktop-large) {
			grid-template-rows: repeat(8, 1fr);
		}
	}
}

.education,
.experience {
	&__item {
		margin: var(--space-medium) auto;
		
		&:not(:last-of-type) {
			padding-bottom: var(--space-small);
			border-bottom: 1px solid var(--color-accent-dark);
		}

		&-title {
			color: inherit;
			font-family: var(--font-body);
		}
	}
}

.experience {
	&__item {
		&-link {
			display: inline-block;
		}
	
		&-title {
			margin: 0;
		}

		&-details &-details-summary {
			color: var(--color-main);
		}
	}
}