@use "../pwagenerator/files/common" as * with (
	$font-heading: "Playfair Display",
	$font-body: "Raleway",
	$color-main: #92D7DA,
	$color-main-dark: #489094,
	$color-accent: #FA96C0,
	$color-accent-dark: #B34F78
);

h3, h4, h5 {
	color: inherit;
	font-family: $font-body;
}

.skills,
.experience {
	li {
		margin: 0;
		text-align: left;
	}
}

.skills {
	font-weight: $font-bold;
	text-align: left;

	@media (min-width: $media-tablet) {
		display: grid;
		gap: 0 $space-xsuper;
		grid-auto-flow: column;
		grid-template-rows: repeat(12, 1fr);
	}

	@media (min-width: $media-desktop-large) {
		grid-template-rows: repeat(8, 1fr);
	}
}

.education,
.experience {
	&-item {
		margin: $space-medium auto;
		
		&:not(:last-of-type) {
			padding-bottom: $space-small;
			border-bottom: 1px solid $color-accent-dark;
		}
	}
}

.experience-item {
	a {
		display: inline-block;
	}

	h3 {
		margin: 0;
	}
}

.projects {
	a i {
		font-size: initial;
	}
}