/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | / @use "../pwagenerator/files/common" as * with (
 * 2 | |     $font-heading: "Playfair Display",
 * 3 | |     $font-body: "Raleway",
 * 4 | |     $color-main: #92D7DA,
 * 5 | |     $color-main-dark: #489094,
 * 6 | |     $color-accent: #FA96C0,
 * 7 | |     $color-accent-dark: #B34F78
 * 8 | | );
 *   | '-^
 *   '
 *   ../../nicolefurlan.com/style.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  \250c  @use \"../pwagenerator/files/common\" as * with (\a 2 \2502  \2502      $font-heading: \"Playfair Display\",\a 3 \2502  \2502      $font-body: \"Raleway\",\a 4 \2502  \2502      $color-main: #92D7DA,\a 5 \2502  \2502      $color-main-dark: #489094,\a 6 \2502  \2502      $color-accent: #FA96C0,\a 7 \2502  \2502      $color-accent-dark: #B34F78\a 8 \2502  \2502  );\a   \2502  \2514 \2500 ^\a   \2575 \a   ../../nicolefurlan.com/style.scss 1:1  root stylesheet";
}
